
{% extends "auth_base.html" %}
{% load socialaccount %}
{% load static %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="auth-brand">
    <img src="{% static 'icons/icon-192.png' %}" alt="Hangarin" class="auth-logo">

    <h1>Hangarin</h1>
    <p class="auth-subtitle">Log in to your account</p>
</div>

<div class="social-buttons">
    <a href="{% provider_login_url 'google' %}" class="social-button google">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
             alt="Google"
             class="social-icon">
    </a>

    <a href="{% provider_login_url 'github' %}" class="social-button github">
        <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
             alt="GitHub"
             class="social-icon github-icon">
    </a>
</div>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        {{ form.login.label_tag }}
        {{ form.login }}
        {{ form.login.errors }}
    </div>

    <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
    </div>

    {% if form.remember %}
        <div class="remember">
            {{ form.remember }}
            {{ form.remember.label_tag }}
        </div>
    {% endif %}

    <button type="submit" class="auth-button">
        Log in
    </button>
    {{ form.non_field_errors }}
</form>

    <div class="auth-links">
    <a href="{% url 'account_reset_password' %}">
        Forgot your password?
    </a> 

    <p>
        Don't have an account?
        <a href="{% url 'account_signup' %}">Sign up</a>
    </p>
</div>

{% endblock %}
